<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://bootswatch.com/5/cosmo/bootstrap.min.css">
        <link rel="stylesheet" href="./css/style.css">
        <title>Hostpital</title>
    </head>
             <!-- Barra Navegación -->
        <body>
             <header class="container-fluid bg-dark d-flex justify-content-center">
                  
                <p class="text-light mb-2 fs-6">HOSTPITAL | Inventory Managment Project - Administración Hospitalaria</p>

            </header>

      <div class="conteiner-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="barra_navegacion">
            <div class="container-fluid">
                
              <a class="navbar-brand" href="index.html">
                <img src="./img/logo.png" alt="logo" width="30" height="24" href="" >
                <span class="text-dark fs-5 fw-bold"> Inicio </span>
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                
                <span class="navbar-toggler-icon"></span>
              </button>
              
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Inventario</a>
                  </li>
                    <li class="nav-item">
                  
                        <a class="nav-link active" href="#">Reportes</a>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Ordenes
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Pendientes</a></li>
                      <li><a class="dropdown-item" href="#">Historial</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Nosotros</a>
                </li>
                </ul>
              </div>
            </div>
          </nav>

      </div>

      <!-- Slider de imagenes-->
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                
                <img src="./img/slider1.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
      </div>

      <footer>
        <section class="">
          <!-- Footer -->
          <footer class="text-center text-white fixed-bottom p-0" style="background-color: #0a4275;">
            <!-- Grid container -->
            <div class="container p-1 pb-0">
              <!-- Section: CTA -->
              <section class="">
                <p class="d-flex p-0 pb-0 justify-content-center align-items-center">
                  <span class="me-3">Accede a tu cuenta</span>
                  <button type="button" class="btn btn-outline-light btn-rounded">
                    Inicia Sesión
                  </button>
                </p>
              </section>
              <!-- Section: CTA -->
            </div>
            <!-- Grid container -->
        
            <!-- Copyright -->
            <div class="text-center p-0" style="background-color: rgba(0, 0, 0, 0.2);">
              © 2020 Hostpital, Administración Hospitalaria
              
            </div>
            <!-- Copyright -->
          </footer>
          <!-- Footer -->
        </section>
      </footer>
     

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>

